@import '~normalize.css';
@import 'roboto.css';

body{
    font-family: "Roboto", sans-serif;
    text-align: center;
}
.container {
    padding-top: 2rem;
    max-width: 1000px;
    margin: 0 auto;
}

h1{
    text-align: center;
}

.logo {
    background-image:url("../assets/img/beetroot.svg") ;
    background-size: cover;
    width: 200px;
    height: 75px;
    margin: 0 auto;
}